body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#page {
    height: 2900px;
}

#gallery_container {
    width: 100%;
    height: 50%;
    display: inline-block;
}

#gallery_container .blueimp-gallery-carousel {
    padding-bottom: 56.25%;
}

#gallery_container .blueimp-gallery {
    background: #383838 ;
    box-shadow: none;
    border: 1px solid #383838 ;
}

.blueimp-gallery>.indicator>li, .blueimp-gallery>.indicator>li:hover, .blueimp-gallery>.indicator>.active,
.blueimp-gallery>.next, .blueimp-gallery>.next:hover, .blueimp-gallery>.prev, .blueimp-gallery>.prev:hover{
    transition-duration: 0.2s;
}

.blueimp-gallery>.indicator {
    top: 500px;
}

/*
.frecce {
    z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.frecce.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.frecce.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}*/